include README.md
include LICENSE
include setup.py
include setup.cfg
include scdata/test/export/templates/sc_template.html
include scdata/tools/interim/*.csv
include scdata/tools/zenodo_templates/*.*
include scdata/tools/uploads/*.*
include requirements.txt