# TODO To be updated?
geopy~=1.21.0
# TODO To be updated?
Jinja2~=3.1.2
matplotlib
pandas~=2.2.2
pydantic~=2.8
# TODO To be updated?
PyYAML~=6.0.1
requests
scipy
scikit-learn
seaborn
smartcitizen-connector
termcolor==1.1.0
timezonefinder~=6.1.9
urllib3
Flask~=2.2.2