body{
	font-family: Roboto;
}

.header, .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 10px;
}

#file-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

#cron-status{
  text-transform: uppercase;
  font-weight: bold;
}

.header {
  background: black;
  color: lightgray;
}

.logo{
	margin: 10px;
	margin-left:15px;
}

.nav {
  flex: 1;
}

.nav {
  list-style: none;
}

.nav li {
  margin: 12px 0 12px 28px;
}

.nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.nav li a:hover {
  color: rgba(255,255,255,0.7);
}

.list-group-item {
    padding: 3px 10px
}

.list-group{
	padding-bottom: 10px;
}

#top-text-bar{
	display: flex;
	justify-content:space-between;
	margin-top: 10px;
	margin-bottom: 10px;
}

div#box-container{
	margin-top: 20px;
  width: 100%;
}

div#main-container{
	width: 90vw;
	padding: 5px;
	border-color: gray;
	border-radius: 5px;
	margin: auto;
	margin-top: 30px;
}

/*.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2rem;
}*/

h1 {
	font-size: 20px;
	font-weight: bold;
}

h2 {
	font-size: 16px;
	font-weight: bold;
}

h3 {
	font-size: 14px;
	font-weight: bold;
}

table{
	font-size: 13px;
  margin-top:10px;
}

thead{
	background: black;
  width: 100%;
}

td{
	padding: 1rem;
}

td.td-code{
	font-family: courier;
}

td.td-code-center{
	font-weight: bold;
	text-align: center;
}

th{
	padding: 1rem;
	color: white;
}

.inline-code{
	background: whitesmoke;
	font-family: courier;
	color: dimgray;
	border: 1px solid #cccccc;
	border-radius: .3rem;
	padding-left: .2rem;
	padding-right: .2rem;
}

code
{	
	display: block;
	background: whitesmoke;
	color: dimgray;
	border: 1px solid #cccccc;
	list-style-type: none;
	height: 70vh;
	margin: 0px;
	padding: 10px;
	overflow: auto;
}

.btn-info {
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
    border-radius: 5px;
    margin: 2px;
}

.btn-warning{
    border-radius: 5px;
    margin: 2px;
}

.btn-info:hover {
    background-color: dodgerblue;
    border-color: dodgerblue;
}

.btn-group-sm > .btn, .btn-sm {
    padding: .5rem 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.field{
	width: 100%;
	display: block;
}

input[type=text], select {
  width: 100%;
  padding: 12px 15px;
  display: block;
  border: .5px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-right: 10px;
  font-size: 13px;
}

.edit-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.field{
	margin-top: 15px;
	font-weight: bold;	
}

.button-container{
	margin-top: 20px;
	width: 50%;
}
