{% extends "layout.html" %}
{% block content %}
    <div id="main-container">
        <div id="file-header">
        {% if file_type == 'task' %}
            <h1>Taskfile for: {{ cron }}</h1>
        {% elif file_type == 'log'%}
            <h1>Logfile for: {{ cron }}</h1>
            {% if status=='done'%}
                <span id='cron-status' style="color:#228B22">
            {% elif status=='running'%}
                <span id='cron-status' style="color:rgb(255,200,0)">
            {% endif %}
                MANUAL RUN: 
            {{ status|upper }}</span>
        {% elif file_type == 'tabfile'%}
            <h1>Tabfile view</h1>
        {% endif %}
        </div>
        <code id='code-viewer'>
            <ol>
                {% for line in file %}
                    <li> {{ line|safe }}</li>
                {% endfor %}
            </ol>
        </code>
    </div>
{% endblock %}