{% extends "layout.html" %}
{% block content %}
    <div id="main-container">
        <form action = "{{ url_for('default') }}" method = "POST" id="top-text-bar">
            <input type="text" name="path-tab-file" id="text-path-input" value={{ defaultpath }}>
            <button class="btn btn-info btn-sm add-entry-btn">Reload tabfiles</button>
        </form>
        {% if error %}
            <span style="color:#B22222">Path doesn't exist</span>
        {% endif %}
        <div class="container-fluid">
            <div class="row">
                <div id="box-container">
                    {% for tabfilename, tabdict  in tabfiles.items() %}
                        <div class="list-group">
                            <h1>Tabfile: <a href = {{ url_for('tabfile', tabfile=tabfilename) }}>{{ tabfilename }}</a></h1>
                            <table id="jobs" style="width:100%">
                                <thead>
                                    <th>Jobname</th>
                                    <th>Schedule</th>
                                    <th>Enabled</th>
                                    <th>Valid</th>
                                    <th>Who</th>
                                    <th>Task</th>
                                    <th>Logfile</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody>
                                    {% for cron, crondict in tabdict.items() %}
                                        <tr>
                                                <td class="td-code">{{ cron }}</td>
                                                <td class="td-code">{{ crondict['schedule'] }}</td>
                                                {% if crondict['enabled'] %}
                                                    <td class="td-code-center"><span style="color:#228B22">
                                                {% else %}
                                                    <td class="td-code-center">
                                                {% endif %}
                                                {{ crondict['enabled'] }}</span></td>
                                                {% if crondict['valid'] %}
                                                    <td class="td-code-center"><span style="color:#228B22">
                                                {% else %}
                                                    <td class="td-code-center">
                                                {% endif %}
                                                {{ crondict['valid'] }}</span></td>
                                                <td>{{ crondict['who'] }}</td>
                                                <td><a href = {{ url_for('taskfile', tabfile=tabfilename, cron=cron) }}>{{ crondict['task'] }}</a></td>
                                                <td><a href = {{ url_for('logfile', tabfile=tabfilename, cron=cron) }}> {{ crondict['logfile'] }}</a></td>
                                                <td>
                                                    <form action = "{{ url_for('editjob', tabfile=tabfilename, cron=cron) }}" method = "GET">
                                                        <button class="btn btn-info btn-sm add-entry-btn">Edit</button>
                                                    </form>
                                                    <form action = "{{ url_for('triggerjob', tabfile=tabfilename, cron=cron) }}" method = "POST">
                                                        <button class="btn btn-warning btn-sm add-entry-btn">Run</button>
                                                    </form>
                                                </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

